

<div class="span9">
    <ul class="breadcrumb">
		<li><a href="index.html">Home</a> <span class="divider">/</span></li>
		<li><a href="index.html">Products</a> <span class="divider">/</span></li>
		<li class="active">Merchant Sign up </li>
    </ul>
	<h3> Edit Merchant </h3>	
<%= render 'form' %>

  </div>
