body{padding:0; font-size:13px;}
#mainBody {background: url(../images/seperator.png) repeat-x 0 0; padding-top: 18px;}
#carouselBlk,#header{background: url(../images/headerRepeat.png) repeat-x 0 0 #f7f7f7;}
#srchFld {background: url(../images/search.png) no-repeat right center; border-radius: 0; padding: 4px; margin: 17px 0;line-height: 16px;}
#sidebar ul ul li a{background: url("../images/arrowR.png") no-repeat right center transparent;padding:0 14px 0 12px; font-size:12px; font-weight:bold }
.tag {background:url(../images/new.png) no-repeat 0 0; position: absolute; display:block; top: -4px;right: -18px; height:48px; width:48px;}
a, a:hover{color:#444;}
.clr{clear:both;}
#logoArea, #logoArea a{line-height:49px;}
#logo {padding-right:28px;}
#welcomeLine{padding: 8px 0 4px}
#logoArea .btn, #logoArea .btn-group {margin-top: 0;}
#myCart  img{float:left; margin-right:8px; }
#myCart .badge {padding: 9px;}
#myCart {font-size: 13px;font-weight: bold;line-height: 33px;}
.thumbnail img{ max-width:100%}
.thumbnail:hover{ -webkit-border-radius: 0;-moz-border-radius: 0;border-radius: 0; border:1px solid #eee}
.thumbnail h4{line-height:42px}
hr.soften {margin: 8px 0 4px; background:#ddd;}
/* Fade in fade out transition  */
#myCarousel{text-align:center; margin-bottom:0}
#myCarousel .btn{position:absolute; bottom:10%; right:17%; padding:2% 6%; z-index:9999}
#myCarousel .carousel-caption{display:none;}
#myCarousel.homCar .item img{width:100%; max-height:506px}
#productView .btn-toolbar{padding-left:3px;}
#productDetail > li, .nav-pills > li {float: right;}
#myTabContent{text-align:justify}
#compairTbl td{text-align:center;}
#accordion2, #legalNotice, .justify, #mainCol{text-align:justify}
#myCarousel.carousel .item {-webkit-transition: opacity 2s; -moz-transition: opacity 2s; -ms-transition: opacity 2s; -o-transition: opacity 2s; transition: opacity 2s;}
#myCarousel.carousel .active.left {left:0;opacity:0;z-index:2;}
#myCarousel.carousel .next {left:0;opacity:1;z-index:1;}
#myCarousel.navbar-inner {padding-left: 0;padding-right: 0;}
.navbar .nav > .active > a, .navbar .nav > .active > a:hover, .navbar .nav > .active > a:focus {color: white;background-color: #CF0007;text-shadow: none;}
#featured img{max-height:160px;}
#featured .carousel-control {background: red;border: 0;-webkit-border-radius: 0;-moz-border-radius: 0;border-radius: 0;top:-24px;}
#featured .carousel-control.right { right: 0;}
#featured .carousel-control.left { left:auto; right:42px;}
/* Sidebar--------- */
#sidebar .nav-tabs.nav-stacked > li > a {border: 0;}
#sidebar ul  {list-style:none; padding:0; margin:0}
#sidebar .bs-docs-sidenav > li > a {border: 0; }
#sidebar >ul{}
#sidebar ul li li{padding-right:14px;}
#sidebar ul li.open >a{color:red}
#sidebar ul li.open {background-color:#F8F8F8;}
#sidebar ul li.open a{ display:block; line-height:22px;font-size:13px; font-weight:bold }
.form-horizontal.qtyFrm .control-label{text-align: left;}
.form-horizontal.qtyFrm .control-label span{font-size:18px}
.moreOptopm.carousel .item img{padding:2px; border:1px solid #ddd}
.moreOptopm.carousel .item img:hover{ border:1px solid pink}
.carousel .item > img {display:inline;}
.btn.active{color: white;background-color: #CF0007;text-shadow: none;}
/* Product page--- */
.alignR{text-align:right;}
.control-label.alignL, .alignL{text-align:left;}
.loginFrm{ margin-bottom:8px;}
.loginFrm .control-group{padding:8px 14px 0; margin-bottom:0 }
.marginLess{margin:0}
.cntr{text-align:center}
.cart{border:1px solid #ddd;}
.thumbnail>a{display:block; text-align:center}
.thumbnail h5,.thumbnail p{text-align:center}
.thumbnail {background:#fff; position:relative;border: 1px solid white;}
/* Compair product page */
.bs-docs-sidenav .icon-chevron-right {float: left;margin-top: 2px;margin-right: 6px;opacity: .25;}
.checkbox input[type="checkbox"]{float:right; margin:4px 0 8px 8px }
#sm{text-align:right}
#sm a {margin: 4px;width:32px;}
.bs-docs-sidenav,.btn,
select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"],
input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"],
input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {-webkit-border-radius: 0;-moz-border-radius: 0;border-radius: 0;}
/* Footer section--------------- */
#footerSection a{font-size:11px; padding:0 13px; line-height:24px; display:block; }
#footerSection a:hover{background:#eee;  }
#footerSection  #socialMedia a{ min-width:25px; display:inline; margin-right:6px; text-align:center; line-height:1.5em;}
#socialMedia img{max-width:60px;}
#footerSection  #socialMedia a:hover{background:none;}
/* ===================================================== */
/* Light Box------------------- */
#jquery-overlay {position: absolute;top: 0;left: 0;z-index: 90;width: 100%;height: 500px;}
#jquery-lightbox {position: absolute;top: 0;left: 0;width: 100%;z-index: 100;text-align: center;line-height: 0;}
#jquery-lightbox a img { border: none; }#lightbox-container-image-box {position: relative;background-color: #fff;width: 250px;height: 250px;margin: 0 auto;}
#lightbox-container-image { padding: 10px; }#lightbox-loading {position: absolute;top: 40%;left: 0%;height: 25%;width: 100%;text-align: center;line-height: 0;}
#lightbox-nav {	position: absolute;top: 0;left: 0;height: 100%;width: 100%;z-index: 10;}#lightbox-container-image-box > #lightbox-nav { left: 0; }#lightbox-nav a { outline: none;}
#lightbox-nav-btnPrev, #lightbox-nav-btnNext {width: 49%;height: 100%;zoom: 1;display: block;}
#lightbox-nav-btnPrev { left: 0; float: left;}#lightbox-nav-btnNext { right: 0; float: right;}
#lightbox-container-image-data-box {font: 10px Verdana, Helvetica, sans-serif;background-color: #fff;margin: 0 auto;line-height: 1.4em;overflow: auto;width: 100%;padding: 0 10px 0;}
#lightbox-container-image-data {	padding: 0 10px; 	color: #666; }
#lightbox-container-image-data #lightbox-image-details {width: 70%; float: left; text-align: left; }	
#lightbox-image-details-caption { font-weight: bold; }#lightbox-image-details-currentNumber {display: block; clear: left; padding-bottom: 1.0em;}
#lightbox-secNav-btnClose {width: 66px; float: right;padding-bottom: 0.7em;	}
#hint{font-weight: bold;font-size:12px; color:#953B39}


/*minicart ----*/
.mini-cart-quantity {
    color: rgb(102, 102, 102);
    display: block;
    text-decoration: none;
        -moz-text-blink: none;
        -moz-text-decoration-color: -moz-use-text-color;
        -moz-text-decoration-line: none;
        -moz-text-decoration-style: solid;
}

.mini-cart-title {
    text-decoration: none;
        -moz-text-blink: none;
        -moz-text-decoration-color: -moz-use-text-color;
        -moz-text-decoration-line: none;
        -moz-text-decoration-style: solid;
    color: rgb(0, 75, 145);
}