<%= render 'home/category_sidebar'%>
<div class="span9">
		<hr class="soft"/>
    <ul class="breadcrumb">
		<li><a href="index.html">Home</a> <span class="divider">/</span></li>
		<li class="active"><a href="index.html">Cart </a><span class="divider">/</span></li>
		<li class="active"><a>Shipping/Billing </a><span class="divider">/</span></li>
		<li class="active">Place Order</li>
    </ul>
  
		</div>
		
<%= render 'form'%>
