 <h3>Latest Products </h3>

        <ul class="thumbnails">
        	<% @product.each do |product| %>
        <li class="span3">
          <div class="thumbnail">
          	<% product.photos.each_with_index do |photo, i| %>
          	<% if i == 0%>
         
          <%= link_to (image_tag photo.data.url(:thumb)), product_path(product.id) %>
            <% end %>
            <% end %>
          <div class="caption">
            <h5><%= product.name %></h5>
            <p> 
           
            
            	<h4><%= link_to "View", product_path(product.id) ,:class => "btn btn-medium" %>
            
            	 <span class="pull-right">$<%= product.price %></span></h4>
          </div>
          </div>
        </li>
        <% end %>
        </ul> 
      </div>
    </div>
    </div>
  </div>
</div>